.basereport {
  margin: 10px 10px 10px 10px;
  width: 210mm;
}

.table, .figure {
  page-break-inside: avoid;
  
}

@page {
  size: A4 portrait;
  margin: 7mm;
  /* padding: 5px; */
  @bottom-right  {
    content: "Page " counter(page) " of " counter(pages);
    /* padding-bottom: 100mm; */
    /* padding: 40px; */
  }
}

@page :first {
  /* margin: 10px 10px; */
}